{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-sm-6 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name: {{request.user.first_name}} {{request.user.last_name}}</h5>
        <p class="card-text">Username: {{request.user.username}}</p>
        <p class="card-text">Email: {{request.user.email}}</p>
        <p class="card-text">Date Joined: {{request.user.date_joined}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% comment %} Crispy form link:
https://github.com/django-crispy-forms {% endcomment %}
